.area{
    height: 100vh;
    background-color: aquamarine;
}
h1{
    text-align: center;
    margin-top: 40px;
}
label{
    margin-left: 10px;
    font-size: 17px;
}
.Modelselect{
    margin-top: 50px;
}
.widthcontrol, .heightcontrol, .thicknesscontrol, .doorColorcontrol{
    margin-top: 30px;
}